/* Custom Font - Regular */
@font-face {
  font-family: "CustomFont";
  src: url("/fonts/your-font-name.woff2") format("woff2"),
    url("/fonts/your-font-name.woff") format("woff"),
    url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Custom Font - Medium */
@font-face {
  font-family: "CustomFont";
  src: url("/fonts/your-font-name-medium.woff2") format("woff2"),
    url("/fonts/your-font-name-medium.woff") format("woff"),
    url("/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Custom Font - Semibold */
@font-face {
  font-family: "CustomFont";
  src: url("/fonts/your-font-name-semibold.woff2") format("woff2"),
    url("/fonts/your-font-name-semibold.woff") format("woff"),
    url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Custom Font - Bold */
@font-face {
  font-family: "CustomFont";
  src: url("/fonts/your-font-name-bold.woff2") format("woff2"),
    url("/fonts/your-font-name-bold.woff") format("woff"),
    url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
