.bar-box {
    padding: 10px 20px;
}

.bar-text {
    color: #fff;
    line-height: 20px;
    font-size: 19px;
}

.bar-border {
    border-radius: 10px;
    margin-block: 20px;
}

.bar {
    height: 14px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 27%, rgba(0, 212, 255, 1) 100%);
}

.html-bar {
    width: 90%;
    color: #000;
}

.css-bar {
    width: 85%;
    color: #000;
}

.js-bar {
    width: 65%;
    color: #000;
}

.strp-bar {
    width: 87%;
    color: #000;
}

.tail-bar {
    width: 67%;
    color: #000;
}