.card-box {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 45px;
}

.card {
    width: 30%;
    transition: 2s;
}

.card:hover {
    transform: scale(1.15);
}

.proj-img {
    width: 70%;
    transition: 1.5s;
    border-radius: 10px;
}

.proj-img:hover {
    border-radius: 10px;
    box-shadow: 7px 7px 9px 0px rgba(31, 184, 252, 0.77);
}




/* mobile css */

@media (min-width:320px) and (max-width:480px) {
    .card-box {
        gap: 13px;
        margin-top: 30px;
    }
    .card {
        width: 47%;
    }
    .proj-img {
        width: 100%;
    }
    .card:hover {
        transform: scale(1);
    }
}